---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Baloo');

$color-bg: #d1cfca;
$color-text: #4d4c49;
$color-light-text: #686660;
$color-red: #d41c13;
$color-green: #249219;
$color-blue: #135ea3;
$color-yellow: #d7a923;
$color-highlight: #f3f1ec;
$color-shadow: #969490;

$body-background: #555;
	
body {
  background: $color-bg;
  color: $color-text;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo", sans-serif;
  margin: 0;
  text-shadow: none;
  color: $color-green;
}

p {
  -webkit-margin-before: 0;
}

a {
  color: $color-blue;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.15)
}

header {
  background: none;
  border-bottom: 1px dashed $color-yellow;
  padding: 20px 0 10px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  font-family: "Baloo", sans-serif;
  color: $color-red;
  text-shadow: none;
  letter-spacing: -2px;
}

header h2 {
  font-size: 20px;
  font-weight: 300;
  color: $color-light-text;
}

navigation {
  padding: 20px 0 0 0;
  display: block;
  text-align: left;
  font-family: "Baloo", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

navigation a {
  padding: 0 10px 0 0;
  text-decoration: none;
}

header h1 {
  margin: 0;
}

header h1:before {
  content: "";
}

ul > * > ul {
  margin: 0;
}

