---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Baloo');

$color-bg: #969490;
$color-text: #4d4c49;
$color-red: #d41c13;
$color-green: #249219;
$color-blue: #135ea3;
$color-yellow: #d7a923;
$color-highlight: #f3f1ec;
$color-shadow: #969490;

$body-background: #555;
	
body {
	background: $color-bg;
	color: $color-text;
	font-family: "Ubuntu", sans-serif;
}

header {
	background: none;
	border-bottom: 1px dashed $color-yellow;
}

navigation {
	padding: 5px 0px;
	display: block;
	text-align: left;
	font-weight: 500;
	font-size: 130%;
}

navigation a {
	padding: 0 10px 0 0;
}

header h1 {
    margin: 0;
}

header h1:before {
    content: "";
}

ul > * > ul {
	margin: 0;
}

