---
---
@import "{{ site.theme }}";

$body-background: #555;
	
body {
	background: $body-background;
}

navigation {
	padding: 5px 0px;
	display: block;
	text-align: left;
	font-weight: 500;
	font-size: 130%;
}

navigation a {
	padding: 0 10px 0 0;
}

header h1 {
    margin: 0;
}

header h1:before {
    content: "";
}

ul > * > ul {
	margin: 0;
}

